/* GENERAL STYLING */
.main-container {
  width: 100%;

}



/* NAVBAR STYLING */
nav {
  background-color: oldLace;
  width: 20%;
}

nav ul li {
  list-style: none;
  color: 
}

nav ul li a {
  text-decoration: none;
}



/* CONTACT STYLING */
.contact-logo {
  width: 28px;
}   






/* HEADER & FOOTER STYLING */
body {
  background-image: url(images/background.jpg);
}

header {
  height: 5em;
  width: 100%;
}