/* GENERAL STYLING */
body {
  position: relative;
  background-color: oldlace;
  background-image: url(images/damask-937607.jpg);
  /* background-size: cover; */
  padding: 0;
  margin: 0;
}

.page-wrapper {
  font-family: 'Raleway', sans-serif;
  position: relative;
  min-height: 100vh;
  width: 100%;
}

.main-content-container {
  width: 60%;
  background-color: #fffff1;
  box-shadow: 5px 5px 10px grey;
  margin: auto;
  display: block;
  position: relative;
  margin-top: 120px;
  padding-bottom: 100px;
  padding-left: 5px;
}

img {
  height: 100px;
  display: inline;
}

.thumbtack {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 20px;
}

/* HEADER & FOOTER STYLING */

header, footer {
  background-color: #7e687a;
  color: oldLace;
  width: 100%;
  clear: both;
  padding: 1em .5em 1em 2em;
}

header {
  height: 5em;
  font-family: 'Rammetto One', cursive;
  padding-top: 2em;
  padding-bottom: 20px;
  margin-bottom: 0;
  display: block;
}

footer {
  margin-top: 15px;
  bottom: 0;
}

.header-img {
  width: 5%;
}
.header-title {
  display: inline;
  width: 90%;
}
/* NAVBAR STYLING */
nav {
  background-color: #97A686;
  margin: auto;
  clear: both;
  width: 100%;
}

nav ul {
display: flex;
flex-direction: row;
justify-content: space-around;
margin-top: 0;
width: 100%;
height: 45px;
}

nav ul li {
  list-style: none;
}

.navbar-item a {
  text-decoration: none;
  color: oldlace;
}

 li a:hover {
  color: #b6b220;
  border: none;
}

li.navbar-item {
  width: 100px;
}

a:visited {
  color: oldlace;
}

.current-location{
  font-size: 1.1em;
  color: #b6b224;
}

/* CONTACT STYLING */
.contact-logo {
  width: 28px;
  height: 28px;
}

.contact-link, .contact-link:visited{
  color: maroon;
}

.contact-link:hover{
  color: #b6b220;
  font-weight: bold;  
}
  /* BLOG STYLING */
  .blog-post {
    /* background-image: url(/images/paperback.jpg); */
    background-color: #fffff1;
    box-shadow: 5px 5px 10px grey;
    padding: 10px;
    margin-bottom: 15px;
    font-size: 1.2em;
  }

  .main-content-container-blog {
    width: 60%;
    margin: auto;
    display: block;
    position: relative;
    margin-top: 120px;
    padding-bottom: 100px;
  }
