* {
  /* border-radius: 0 !important; */
  border: none !important;
}

body {
  background-image: url(/images/damask-937607.jpg);
  background-attachment: fixed;
}

.navbar, a {
  background-color: #7e687a;
  color: oldlace !important;
}

a:hover {
  color: #97A686 !important;
}

.spacer {
  background-color:  #97A686;
  height: 10px;
  width: 100%;
  margin: 0;
}

#head-space {
  position: absolute;
  top: 50px;
}

#foot-space {
  position: absolute;
  bottom: 50px;
}

#profilePic {
  height: 300px;
  border-radius: 50%;
}

#page-content-wrapper {
  margin-top: 50px;
}

.selected-page {
  text-decoration: underline;
}

#page-content-wrapper {
  margin-bottom: 70px;
}

.contact-img {
  width: 28px;
}

.project-img {
  width: 100%;
  height-max: 460px;
}

.project-container {
  height: 650px;
  margin: 5px;
  padding-left: 0;
  padding-right: 0;
}

.panel-heading, .panel-footer {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}